name: pedidos_pizzabrosa
description: "A new Flutter project."
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  firebase_core: ^2.25.4
  firebase_storage: ^11.7.2
  cloud_firestore: ^4.17.4
  firebase_auth: ^4.17.4
  firebase_database: ^10.5.7

  intl: ^0.18.1
  pdf: ^3.11.3
  printing: ^5.13.1
  path_provider: ^2.0.15

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/logo.jpg
